#root {
    .custom-btn {
        border: none;
        width: 326px;
        height: 44px;
        border-radius: 5px;
        margin: 0 auto;
        font-size: 17px;
        font-weight: 700;
        cursor: pointer;
        background-color: rgba(29, 161, 241, 1);
        color: white;
    }
}