html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    background-color: rgba(246, 249, 250, 1);
}

.main-wrapper {
    max-width: 728px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    padding-top: 60px;
}

.card {
    padding: 20px;
    border: 1px solid rgba(231, 236, 241, 1);
    border-radius: 7px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    background-color: white;

    &>.card-title {
        color: black;
        font-size: 29px;
        font-weight: 700;
        text-align: center;
        margin: 12px 0px;
    }

    &>.link-wrapper {
        margin: 0 auto;
        margin-top: 12px;

        a {
            text-decoration: none
        }


    }
}

button {
    cursor: pointer;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}